<h1>Eat-Da-Burger Application</h1>
<br>

<div id='avail'>
    <h2>Available Burgers:</h2>
    <ul>
        {{#each burgers}} {{#unless this.devoured}}
        <li>
            {{this.id}}. {{this.burger_name}}

            <form>
                <input type="hidden" name="devoured" value={{this.id}}>
                <button class="btn btn-success" type="submit">^ Devour Now! ^</button>
            </form>
            {{!-- <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="false">
                <button class="btn btn-success" type="submit">^ Devour Now! ^</button>
            </form> --}}

        </li>
        {{/unless}} {{/each}}
    </ul>
</div>
<div id='devoured'>
    <h2>Devoured Burgers: </h2>

    <ul>
        {{#each burgers}} {{#if this.devoured}}
        <li>
            {{this.id}}. {{this.burger_name}}
        </li>
        {{/if}} {{/each}}
    </ul>
</div>

<div id='add'>
    <h2>Add Your Favorite Burger Here: </h2>

    <form class="create-update-form" action="/" method="POST">
        <div class="form-group">
            <label for="djr">Burger Name:</label>
            <input type="text" id="djr" name="burger_name">
        </div>
        <button class="btn btn-info" type="submit">Add Burger to Available</button>
    </form>
</div>